#overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgb(0, 0, 0,0.5);
  z-index: 999;
  top: 0;
  left: 0;
}

#drop-zone{
  width: 80%;
  height: 50%;
  border: 5px dashed white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: rgb(255,255,255,0.2);
}
main{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

main>.image{
  $size:250px;
  width: $size;
  height: $size;
  background-size: cover;
  background-position: center;
  border: 2px dotted #856c6c;
  border-radius: 10px;
  flex-shrink: 0;
  transition-property: transform;
  transition-duration: 500ms;

    &:hover{
    cursor: pointer;
    transform: scale(1.1);

    }
}
main>.image>div {
  position: relative;
  //background-color: #0dcaf0;
  width: 35px;
  padding: 10px;
  float: right;
}
main>.image>div>svg {
  color: #e8a01a;

}


.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  border: 1px solid black;

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: darkcyan;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }

  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }


}
